@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --secondary: #7c3aed;
}

@layer base {
  body {
    @apply text-gray-900 bg-white;
  }
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.from-primary {
  --tw-gradient-from: var(--primary);
}

.to-secondary {
  --tw-gradient-to: var(--secondary);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}